body {
  background: url('../img/grilled-burgers-min.jpg') no-repeat center #000;
}

.container {
  background: rgba(0,0,0,.5);
}

h1 {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.todo-list {
  margin-top: 75px;
}

.list-group-item {
  height: 50px;
  line-height: 2;
  padding: 5px 15px;
}

input.new-item {
  width: 75%;
  height: 35px;
  margin-top: 25px;
  margin-right: 25px;
  padding-left: 5px;
}

.list-group-item.new-item {
  height: 100px;
}

.list-group-item span {
  padding-bottom: 15px;
  display: inline-block;
}

input.new-item:focus {
  outline: none;
}

li.new-item {
  background: #D81;
}

.list-group-item > button.delete,
.list-group-item > button.complete {
  float: right;
  height: 25px;
  margin-top: 3px;
  line-height: 0.5;
}

.todo-container div:nth-child(2n) {
  background: rgba(221,136,17,.5);
  color: #fff;
}

.padder {
  margin-bottom: 20px;
}

.edit {
  width: 100%;
}

.btn-default {
  margin-right: 10px;
}

.btn-primary {
  background: #D81;
  border-color: #c5790f;
}

.eaten {
  background-color: #000 !important;
  color: #fff !important;
}

.burger {
  padding: 0 10px 10px 0;
}

